body {
  padding: 50px 20px;    
}
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.form-control{
    margin: 10px !important;
}
label{
    padding:15px; 
}
.btn{
    margin: 10px;
}
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
.table-responsive{
  padding: 10px;    
  margin: 0 10px;
  overflow-x: hidden;       
}
.btn-circle{
    margin: 0 !important;
}
#snackbar {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein1 0.5s, fadeout1 0.5s 2.5s;
    animation: fadein1 0.5s, fadeout1 0.5s 2.5s;
}
@-webkit-keyframes fadein1 {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein1 {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout1 {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout1 {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
td{
    padding: 1px !important;
    text-align: center;
}
.invisible{
    display:none !important;
}